.container-fluid.allcourse-body {
    background-color: #e5e5e5;
    height: 900px;
}

.allcourse {
    margin: auto;
    width: 1000px;

    .btn-filter {
        background: #ffffff;
        border: 1px solid #c4c4c4;
        border-radius: 5px;
    }

    .search {
        display: flex;
    }
}

.group-search {
    form {
        display: flex;
    }
    .input {
        position: relative;
        width: 355px;
        height: 40px;
        margin: 0 10px 0 10px;
    }

    .input-search {
        width: 355px;
        height: 40px;
    }

    .search-icon {
        position: absolute;
        top: 10px;
        left: 320px;
    }

    .btn-search {
        background: #b2d235;
        border: 1px solid #b2d235;
        border-radius: 5px;
        color: white;
    }
}
