$purple: #11114E;
.banner_title {
  position: absolute;
  height: 100%;
  left: 22px;
  top: 100px;
}

.banner_title_first {
  font-family: 'UTM BryantLG';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: -0.05em;
  color: $purple;
  span {
    font-family: 'UTM BryantLG';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: $purple;
  }
}

.btn-start {
  position: relative;
  width: 377px;
  height: 70px;
  background: #B2D235;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  cursor: pointer;
  & .btn-start-title {
    position: absolute;
    top: 13px;
    left: 50px;
    font-family: 'UTM BryantLG';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
  }
}

.banner {
    width: 100%;
    height: 655px;
    background-size: cover;
    position: relative;
}

.banner_bonus {
  background-image: linear-gradient(to bottom ,#f9f8f8fb,#E5E5E5);
  height: 150px;
  box-shadow: 0px 0px 10px rgba(190, 188, 188, 0.25);
  position: relative;
}

@media (max-width: 1024px) and (min-width: 480px) {
  .banner {
    max-height: 45vw;
  }

  .banner_title {
    left: 35px;
    top: 65px;
  }

  .banner_title_first {
    font-size: 3.9vw;
    margin-bottom: 0;
    span {
      font-size: 4vw;
    }
    img {
      max-width: 5vw;
 
    }
  }

  .banner_title_second {
    font-size: 2vw;
    margin-bottom: 0;
  }

  .btn-start {
    max-width: 25vw;
    max-height: 4vw;
    & .btn-start-title {
      font-size: 2vw;
      left: 4vw;
      top: 0vw;
    }
  }
}

@media (max-width: 480px) {
  .banner {
    max-height: 45vw;
  }

  .banner_title {
    left: 59px;
    top: 175px;
  }
  
  .banner_title_first {
    font-size: 8vw;
  }

  .banner_title_first span {
    font-size: 30px;
  }

  .banner_title_second {
    font-size: 14px;
  }

  .btn-start {
    max-width: 75vw;
    max-height: 12vw;
    & .btn-start-title {
      font-size: 5vw;
      left: 14vw;
      top: 1vw;
    }
  }

}

