.navbar-nav {
  justify-content: flex-end;

  .active-menu {
    background-color: $greenHapo;
    border-radius: 17px;

    .nav-link {
      color: white !important;
    }
  }
}

.example {
  display: flex;
  align-items: center;
  min-height: 54vh;
}

.navbar-nav {
  .nav-item {
    margin-right: 20px;

    &:hover {
      background: $greenHapo;
      border-radius: 17px;
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #505353;
      font-weight: 700;
    }
  }
  .navbar-nav {
    .nav-link:hover {
      color: white;
    }

    .nav-link.hello:hover {
      color: #505353;
    }
  }
}

@media (max-width: 1024px) and (min-width: 740px) {
  .navbar-nav {
    .nav-item {
      border-bottom: 1px solid #f1f1f1;
      &:hover {
        background: #f8f9fa;
        border-radius: 0%;
      }
    }
  }

  .navbar-brand .logo-image {
    max-height: 5vw;
  }

  .navbar-light {
    .navbar-nav {
      .nav-link:hover {
        color: $greenHapo;
      }
    }
  }
}

@media (max-width: 739px) {
  .navbar-nav {
    .nav-item {
      border-bottom: 1px solid #f1f1f1;
      &:hover {
        background: #f8f9fa;
        border-radius: 0%;
      }
    }
  }

  .navbar-light {
    .navbar-nav {
      .nav-link:hover {
        color: $greenHapo;
      }
    }
  }

  .navbar-brand .logo-image {
    max-height: 9vw;
  }
}
