.navbar-nav {
  justify-content: flex-end;
}

.example {
  display: flex;
  align-items: center;
  min-height: 54vh;
}

@media (max-width: 992px) {
	// TODO
}

.navbar-nav{
  & .nav-item {
    margin-right: 20px;
    &:hover { 
      background: #B2D235;
      border-radius: 17px;
    }
  }
}

.navbar-light {
  & .navbar-nav {
    & .nav-link {
      color: #505353;
      font-weight: 700;
    }
  }
  & .navbar-nav {
    & .nav-link:hover {
      color: #FFFFFF;
    }
  }
}

