.navbar-nav {
  justify-content: flex-end;
}

.example {
  display: flex;
  align-items: center;
  min-height: 54vh;
}

.navbar-nav{
  .nav-item {
    margin-right: 20px;
    
    &:hover { 
      background: $colorHapo;
      border-radius: 17px;
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #505353;
      font-weight: 700;
    }
  }
  .navbar-nav {
    .nav-link:hover {
      color: #FFFFFF;
    }
  }
}

@media (max-width: 1024px) and (min-width: 740px) {
  .navbar-nav{
    .nav-item {
      border-bottom: 1px solid #F1F1F1;
      &:hover { 
        background: #f8f9fa;
        border-radius: 0%;
      }
    }
  }

  .navbar-brand .logo-image {
    max-height: 5vw;
  }

  .navbar-light {
<<<<<<< HEAD
<<<<<<< HEAD
    .navbar-nav {
      .nav-link:hover {
        color: #B2D235;
=======
    & .navbar-nav {
      & .nav-link:hover {
=======
    .navbar-nav {
      .nav-link:hover {
>>>>>>> bd361de (#5 fix bug and convention)
        color: $colorHapo;
>>>>>>> 5b9229d (#5 make why Hapolearn)
      }
    }
  }
}

@media (max-width: 739px) {
  .navbar-nav{
    .nav-item {
      border-bottom: 1px solid #F1F1F1;
      &:hover { 
        background: #f8f9fa;
        border-radius: 0%;
      }
    }
  }

  .navbar-light {
<<<<<<< HEAD
<<<<<<< HEAD
    .navbar-nav {
      .nav-link:hover {
        color: #B2D235;
=======
    & .navbar-nav {
      & .nav-link:hover {
=======
    .navbar-nav {
      .nav-link:hover {
>>>>>>> bd361de (#5 fix bug and convention)
        color: $colorHapo;
>>>>>>> 5b9229d (#5 make why Hapolearn)
      }
    }
  }

  .navbar-brand .logo-image {
    max-height: 9vw;
  }
}
