.become-member {
  background-image: url('/images/sologal.png');
  background-size: 100%;
  height: 500px;
  margin-top: 60px;

  .sologal {
    font-family: $fontHapo;
    font-weight: 900;
    font-size: 60px;
    line-height: 74px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    width: 800px;
    margin: auto;
    text-align: center;
    padding: 125px 0 0 27px;
  }

  .start {
    width: 377px;
    height: 70px;
    background-color: white;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 35px;
    cursor: pointer;
    margin: auto;

    p {
      font-family: $fontHapo;
      font-weight: 700;
      font-size: 30px;
      line-height: 60px;
      letter-spacing: -0.05em;
      color: #90AB26;
      margin: auto;
      width: 238px;
    }
  }
}
  
.row.statistic {
  margin-top: 200px;
  text-align: center;

  .topic p {
    font-family: $fontHapo;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: -0.02em;
    color: #11114E; 
    border-bottom: 5px solid #B2D235;
    width: 279px;
    margin: auto;
  }
}
  
.statistic-content .statistic-item {
  .statistic-name {
    font-family: $fontHapo;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    letter-spacing: -0.05em;
    color: #505353;
  }
  .statistic-quantity {
    font-family: $fontHapo;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    letter-spacing: -0.05em;
    color: #B2D235;
  }
}

@media (max-width: 1024px) and (min-width: 740px) {
  .become-member {
    height: 273.46px;

    .sologal {
      font-size: 35px;
      line-height: 43px;
      width: 394px;
      padding: 55px 0 0 0;
    }

    .start {
      width: 250px;
      height: 48px;

      p {
        font-size: 20px;
        line-height: 44px;
        width: 163px;
      }
    }
  }
}

@media (max-width: 739px) {
  .become-member {
    height: 134.46px;

    .sologal {
      font-size: 23px;
      line-height: 28px;
      width: 283px;
      padding: 33px 0 0 36px;
    }

    .start {
      width: 200px;
      height: 37.14px;

      p {
        font-size: 18px;
        line-height: 35px;
        width: 143px;
      }
    }
  }
}