// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Variables
@import "variables";

// Variables
@import "homepage/allcourse";
@import "homepage/header";
@import "homepage/banner";
@import "homepage/course";
@import "homepage/whybanner";
@import "homepage/statistic";
@import "homepage/feedback";
@import "homepage/footer";
@import "homepage/login";
@import "homepage/register";
