// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// Variables
@import 'homepage/header';
@import 'homepage/banner';
@import 'homepage/content';

